<a href="https://colab.research.google.com/github/himanib09/Machine-Learning/blob/master/FND04_NB01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Document retrieval from Wikipedia data

In [ ]:
!pip install turicreate

In [ ]:
import turicreate

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# change the working directory of your code on google drive
%cd/content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

# Load some text data from Wikipedia

In [ ]:
people = turicreate.SFrame('data/people_wiki.sframe')

In [ ]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Explore data

## Taking a look at the entry for President Obama

In [ ]:
obama = people[people['name'] == 'Barack Obama']

In [ ]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [ ]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

# Word counts for Obama acticle

In [ ]:
obama['word_count'] = turicreate.text_analytics.count_words(obama['text'])

In [ ]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'operations': 1.0, 'repre... |
+-------------------------------+
[1 rows x 4 columns]

In [ ]:
print (obama['word_count'])

[{'operations': 1.0, 'represent': 1.0, 'office': 2.0, 'unemployment': 1.0, 'doddfrank': 1.0, 'over': 1.0, 'unconstitutional': 1.0, 'domestic': 2.0, 'major': 1.0, 'years': 1.0, 'against': 1.0, 'proposition': 1.0, 'seats': 1.0, 'graduate': 1.0, 'debate': 1.0, 'before': 1.0, 'death': 1.0, '20': 2.0, 'taxpayer': 1.0, 'representing': 1.0, 'obamacare': 1.0, 'barack': 1.0, 'to': 14.0, '4': 1.0, 'policy': 2.0, '8': 1.0, 'he': 7.0, '2011': 3.0, '2010': 2.0, '2013': 1.0, '2012': 1.0, 'bin': 1.0, 'then': 1.0, 'his': 11.0, 'march': 1.0, 'gains': 1.0, 'cuba': 1.0, 'school': 3.0, '1992': 1.0, 'new': 1.0, 'not': 1.0, 'during': 2.0, 'ending': 1.0, 'continued': 1.0, 'presidential': 2.0, 'states': 3.0, 'husen': 1.0, 'osama': 1.0, 'californias': 1.0, 'equality': 1.0, 'prize': 1.0, 'lost': 1.0, 'made': 1.0, 'inaugurated': 1.0, 'january': 3.0, 'university': 2.0, 'rights': 1.0, 'july': 1.0, 'gun': 1.0, 'stimulus': 1.0, 'rodham': 1.0, 'troop': 1.0, 'withdrawal': 1.0, 'brk': 1.0, 'nine': 1.0, 'where': 1.0, 'referred': 1.0, 'affordable': 1.0, 'attorney': 1.0, 'on': 2.0, 'often': 1.0, 'senate': 3.0, 'regained': 1.0, 'national': 2.0, 'creation': 1.0, 'related': 1.0, 'hawaii': 1.0, 'born': 2.0, 'second': 2.0, 'defense': 1.0, 'election': 3.0, 'close': 1.0, 'operation': 1.0, 'insurance': 1.0, 'sandy': 1.0, 'afghanistan': 2.0, 'initiatives': 1.0, 'for': 4.0, 'reform': 1.0, 'house': 2.0, 'review': 1.0, 'representatives': 2.0, 'ended': 1.0, 'current': 1.0, 'state': 1.0, 'won': 1.0, 'limit': 1.0, 'victory': 1.0, 'unsuccessfully': 1.0, 'reauthorization': 1.0, 'keynote': 1.0, 'full': 1.0, 'patient': 1.0, 'august': 1.0, 'degree': 1.0, '44th': 1.0, 'bm': 1.0, 'mitt': 1.0, 'attention': 1.0, 'delegates': 1.0, 'lgbt': 1.0, 'job': 1.0, 'harvard': 2.0, 'term': 3.0, 'served': 2.0, 'ask': 1.0, 'november': 2.0, 'debt': 1.0, 'by': 1.0, 'wall': 1.0, 'care': 1.0, 'received': 1.0, 'great': 1.0, 'signed': 3.0, 'libya': 1.0, 'receive': 1.0, 'of': 18.0, 'months': 1.0, 'urged': 1.0, 'foreign': 2.0, 'american': 3.0, 'protection': 2.0, 'economic': 1.0, 'act': 8.0, 'military': 4.0, 'hussein': 1.0, 'or': 1.0, 'first': 3.0, 'control': 4.0, 'named': 1.0, 'clinton': 1.0, 'dont': 2.0, 'campaign': 3.0, 'russia': 1.0, 'civil': 1.0, 'reinvestment': 1.0, 'into': 1.0, 'address': 1.0, 'primary': 2.0, 'community': 1.0, 'mccain': 1.0, 'down': 1.0, 'hook': 1.0, '63': 1.0, 'americans': 1.0, 'elementary': 1.0, 'total': 1.0, 'earning': 1.0, 'repeal': 1.0, 'from': 3.0, 'raise': 1.0, 'district': 1.0, 'spending': 1.0, 'republican': 2.0, 'legislation': 1.0, 'three': 1.0, 'relations': 1.0, 'nobel': 1.0, 'start': 1.0, 'tell': 1.0, 'iraq': 4.0, 'convention': 1.0, 'resulted': 1.0, 'john': 1.0, 'was': 5.0, '2012obama': 1.0, 'form': 1.0, 'that': 1.0, 'tax': 1.0, 'sufficient': 1.0, 'republicans': 1.0, 'strike': 1.0, 'hillary': 1.0, 'street': 1.0, 'arms': 1.0, 'honolulu': 1.0, 'filed': 1.0, 'worked': 1.0, 'hold': 1.0, 'with': 3.0, 'obama': 9.0, 'ii': 1.0, 'has': 4.0, '1997': 1.0, '1996': 1.0, 'whether': 1.0, 'reelected': 1.0, 'budget': 1.0, 'us': 6.0, 'nations': 1.0, 'recession': 1.0, 'while': 1.0, 'taught': 1.0, 'marriage': 1.0, 'policies': 1.0, 'promoted': 1.0, 'called': 1.0, 'and': 21.0, 'supreme': 1.0, 'ordered': 3.0, 'nominee': 2.0, 'process': 1.0, '2000in': 1.0, 'is': 2.0, 'romney': 1.0, 'briefs': 1.0, 'defeated': 1.0, 'general': 1.0, '13th': 1.0, 'as': 6.0, 'at': 2.0, 'in': 30.0, 'sought': 1.0, 'organizer': 1.0, 'shooting': 1.0, 'increased': 1.0, 'normalize': 1.0, 'lengthy': 1.0, 'united': 3.0, 'court': 1.0, 'recovery': 1.0, 'laden': 1.0, 'laureateduring': 1.0, 'peace': 1.0, 'administration': 1.0, '1961': 1.0, 'illinois': 2.0, 'other': 1.0, 'which': 1.0, 'party': 3.0, 'primaries': 1.0, 'sworn': 1.0, 'relief': 2.0, 'war': 1.0, 'columbia': 1.0, 'combat': 1.0, 'after': 4.0, 'islamic': 1.0, 'running': 1.0, 'levels': 1.0, 'two': 1.0, 'involvement': 3.0, 'response': 3.0, 'included': 1.0, 'president': 4.0, 'law': 6.0, 'nomination': 1.0, '2008': 1.0, 'a': 7.0, '2009': 3.0, 'chicago': 2.0, 'constitutional': 1.0, 'defeating': 1.0, 'treaty': 1.0, 'federal': 1.0, '2007': 1.0, '2004': 3.0, 'african': 1.0, 'the': 40.0, 'democratic': 4.0, 'consumer': 1.0, 'began': 1.0, 'terms': 1.0}]

## Find most common words in Obama article

In [ ]:
obama.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 273

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |  1.0  |
|      sought      |  1.0  |
|      combat      |  1.0  |
|    continued     |  1.0  |
| unconstitutional |  1.0  |
|        8         |  1.0  |
|   californias    |  1.0  |
|       1996       |  1.0  |
|     marriage     |  1.0  |
|     defense      |  1.0  |
+------------------+-------+
[273 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [ ]:
obama_word_count_table

Columns:
	word	str
	count	float

Rows: 273

Data:
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |  1.0  |
|      sought      |  1.0  |
|      combat      |  1.0  |
|    continued     |  1.0  |
| unconstitutional |  1.0  |
|        8         |  1.0  |
|   californias    |  1.0  |
|       1996       |  1.0  |
|     marriage     |  1.0  |
|     defense      |  1.0  |
+------------------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  40.0 |
|   in  |  30.0 |
|  and  |  21.0 |
|   of  |  18.0 |
|   to  |  14.0 |
|  his  |  11.0 |
| obama |  9.0  |
|  act  |  8.0  |
|   a   |  7.0  |
|   he  |  7.0  |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute TF-IDF for the entire corpus of articles

In [ ]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [ ]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1.0, 'carltons':... |
| alfred j lewy aka sandy le... | {'precise': 1.0, 'thomas':... |
| harpdog brown is a singer ... | {'just': 1.0, 'issued': 1.... |
| franz rottensteiner born i... | {'all': 1.0, 'bauforschung... |
| henry krvits born 30 decem... | {'legendary': 1.0, 'gangst... |
| sam henderson born october... | {'now': 1.0, 'currently': ... |
| aaron lacrate is an americ... | {'exclusive': 2.0, 'produc... |
| trevor ferguson aka john f... | {'taxi': 1.0, 'salon': 1.0... |
| grant nelson born 27 april... | {'houston': 1.0, 'frankie'... |
| cathy caruth born 1955 is ... | {'phenomenon': 1.0, 'debor... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [ ]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1.0, 'carltons':... |
| alfred j lewy aka sandy le... | {'precise': 1.0, 'thomas':... |
| harpdog brown is a singer ... | {'just': 1.0, 'issued': 1.... |
| franz rottensteiner born i... | {'all': 1.0, 'bauforschung... |
| henry krvits born 30 decem... | {'legendary': 1.0, 'gangst... |
| sam henderson born october... | {'now': 1.0, 'currently': ... |
| aaron lacrate is an americ... | {'exclusive': 2.0, 'produc... |
| trevor ferguson aka john f... | {'taxi': 1.0, 'salon': 1.0... |
| grant nelson born 27 april... | {'houston': 1.0, 'frankie'... |
| cathy caruth born 1955 is ... | {'phenomenon': 1.0, 'debor... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for the Obama article

In [ ]:
obama = people[people['name'] == 'Barack Obama']
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Cosine similarity using tfidf vector and word_count vector

In [ ]:
clinton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Bill Clinton | william jefferson bill cli... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'rating': 1.0, 'serving':... | {'rating': 5.3770235940402... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [ ]:
turicreate.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

0.8339854936884276

In [ ]:
turicreate.distances.cosine(obama['word_count'][0],clinton['tfidf'][0])

0.8986970678137696

# Apply nearest neighbors for retrieval of Wikipedia articles

## Build the NN model

In [ ]:
knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

## Use model for retrieval... for example, who is closest to Obama?

In [ ]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.73ms      |

| Done         |         | 100         | 535.318ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

## Other examples of retrieval

In [ ]:
swift = people[people['name'] == 'Taylor Swift']

In [ ]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 19.03ms      |

| Done         |         | 100         | 486.559ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [ ]:
jolie = people[people['name'] == 'Angelina Jolie']

In [ ]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.306ms     |

| Done         |         | 100         | 498.272ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [ ]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [ ]:
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.802ms     |

| Done         |         | 100         | 497.904ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

## Compare top words according to word counts to TF-IDF

In [ ]:
elton = people[people['name']=='Elton John']

In [ ]:
elton['word_count'] = turicreate.text_analytics.count_words(elton['text'])
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1.0, 'six': 1.0, '... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [ ]:
elton_word_count_table = elton[['word_count']].stack('word_count', new_column_name=['word', 'count'])
elton_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| since |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
elton_tfidf_table = elton[['tfidf']].stack('tfidf', new_column_name=['word','tfidf']).sort('tfidf', ascending=False)
elton_tfidf_table

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Measuring distance

In [ ]:
victoria = people[people['name']=='Victoria Beckham']
paul = people[people['name']=='Paul McCartney']

In [ ]:
turicreate.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [ ]:
turicreate.distances.cosine(elton['tfidf'][0], paul['tfidf'][0])

0.8250310029221779

## Building nearest neighbors models with different input features and setting the distance metric

In [ ]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'operations': 1.0, 'repre... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [ ]:
biden = people[people['name']=='Joe Biden']

In [ ]:
word_count_model = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
tfidf_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
word_count_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 22.661ms     |

| Done         |         | 100         | 475.403ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.121361815689 |  2   |
|      0      |  Sandro Petrone | 0.136207239922 |  3   |
|      0      |  George W. Bush | 0.138583220707 |  4   |
|      0      |  Ribal al-Assad | 0.140647175303 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [ ]:
tfidf_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.691ms     |

| Done         |         | 100         | 489.235ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------------+----------------+------+
| query_label |     reference_label     |    distance    | rank |
+-------------+-------------------------+----------------+------+
|      0      |       Barack Obama      |      0.0       |  1   |
|      0      |        Joe Biden        | 0.703138676734 |  2   |
|      0      |      Samantha Power     | 0.742981902328 |  3   |
|      0      |  Hillary Rodham Clinton | 0.758358397887 |  4   |
|      0      | Eric Stern (politician) | 0.770561227601 |  5   |
+-------------+-------------------------+----------------+------+
[5 rows x 4 columns]

## Cosine similarity using word_count vector and tfidf vector

In [ ]:
turicreate.distances.cosine(obama['word_count'][0], biden['word_count'][0])

0.12136181568917737

In [ ]:
turicreate.distances.cosine(obama['tfidf'][0], biden['tfidf'][0])

0.703138676733575

In [ ]:
word_count_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.915ms     |

| Done         |         | 100         | 479.727ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [ ]:
tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 27.317ms     |

| Done         |         | 100         | 501.785ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]